<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
   <meta charset="utf-8">
   <title>Your Next Read</title>
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous" />
   <link rel="stylesheet" href="css/styles.css" />
</head>

<body id="body" class="text-center">
   <nav style="background-color: #e3f2fd;" class="navbar navbar-light navbar-expand-sm navbar-default">
      <!-- Brand -->
      <a class="navbar-brand" href="#">Next Read</a>
      <!-- Toggler/collapsibe Button -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
         <span class="navbar-toggler-icon"></span>
      </button>
      <!-- Navbar links -->
      <div class="collapse navbar-collapse justify-content-end" id="collapsibleNavbar">
         <ul class="navbar-nav ">
            <li class="nav-item">
               <a class="nav-link" href="#">Home</a>
            </li>
            <li class="nav-item">
               <a class="nav-link" href="#">About</a>
            </li>
         </ul>
      </div>
   </nav>

   <!-- <div class="dropdown show dropright">
     <a class="btn btn-info dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
       Dropdown link
     </a>

     <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
       <h6 class="dropdown-header">||| National Book Award |||</h6>
       <a class="dropdown-item" href="#">Fiction</a>
       <a class="dropdown-item" href="#">Non-Fiction</a>
       <a class="dropdown-item" href="#">Poetry</a>
       <a class="dropdown-item" href="#">Any</a>
       <h6 class="dropdown-header">||| Pulitzer Prize |||</h6>
       <a class="dropdown-item" href="#">Fiction</a>
       <a class="dropdown-item" href="#">Non-Fiction</a>
       <a class="dropdown-item" href="#">Poetry</a >
       <a class="dropdown-item" href="#">Any</a>
     </div>
   </div> -->

   <!-- drop down menu of category options -->
   <!-- <div id="bookMenu">
      <div  class="btn-group menuDiv">
         <button type="button" class="btn btn-info">Categories</button>
         <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="sr-only">Toggle Dropdown</span>
         </button>
         <div class="dropdown-menu">
            <h6 class="dropdown-header">||| National Book Award |||</h6>
            <a class="dropdown-item" href="#">Fiction</a>
            <a class="dropdown-item" href="#">Non-Fiction</a>
            <a class="dropdown-item" href="#">Poetry</a>
            <a class="dropdown-item" href="#">Any</a>
            <h6 class="dropdown-header">||| Pulitzer Prize |||</h6>
            <a class="dropdown-item" href="#">Fiction</a>
            <a class="dropdown-item" href="#">Non-Fiction</a>
            <a class="dropdown-item" href="#">Poetry</a >
            <a class="dropdown-item" href="#">Any</a>
         </div>
      </div>
   </div>


   <div id="bookContent" class="container contentDiv lead alert  ">
      <button type="button" class="bcButton btn btn-primary btn-lg ">Generate</button>

   </div> -->

   
