

body {
   background-color: #58CCED;
   font-family: "Monaco";

   /* monaco */
}

p {
   margin: 1rem 10rem;
   background-color: white;
}

.cat-alert-1 {
   display:none;
}

.cat-alert-2 {
   display:none;
}

.navbar {
   padding: .5rem 10rem;
}

.menuDiv {
   top: 2.5rem;
}

.contentDiv {
   margin-top: 52px;
}
